.container-categories {
  margin-top: 100px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.load {
  width: 40%;
  margin-top: 70px;
}

.hienthi {
  width: 60%;
}

:root {
  --form-control-color: rebeccapurple;
  --form-control-disabled: #959495;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.form-control + .form-control {
  margin-top: 1em;
}

.form-control--disabled {
  color: var(--form-control-disabled);
  cursor: not-allowed;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}

.product-categories {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 80px;
}

.product-categories-card {
  width: 25%;
  margin-bottom: 75px;
  height: auto;
}

.product1 h3 {
  font-size: 1.2rem;
  padding: 0px 20px;
}
.product1 p {
  font-size: 1.1rem;
  padding: 15px 20px 30px 20px;
  color: #838383;
}

.product1 button {
  margin: 0px 20px;
  margin-bottom: 40px;
}
.product1 img {
  border-radius: 40px;
  padding: 25px 20px;
  border: none;
  transition: 0.5s ease-in-out;
}
.product1 img:hover {
  transform: scale(1.1);
}
.button {
  margin: 0px 20px;
}
.button-load {
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  color: #ffffff;
  background-color: var(--secondary-color);
  text-decoration: none;
}

.button-load:hover {
  outline: 0;
  background-color: #765827;
}
.button-load:active {
  transform: scale(0.9);
}
